# Copyright (c) 2020 University System of Georgia and GTCOARLab Contributors
# Distributed under the terms of the BSD-3-Clause License

printWidth: 88
proseWrap: always
semi: false
singleQuote: true
tabWidth: 2
trailingComma: es5
overrides:
  - files:
      - .prettierrc
      - .yamllint
    options:
      parser: yaml
