:: {{ copyright }}
:: {{ license }}
::
:: {{ name }}-{{ variant.upper() }} {{ version }}-{{ build_number }}
::
@ECHO ON

set POST_INSTALL_LOG=%PREFIX%\post_install.log

echo "start" >> %POST_INSTALL_LOG%

md /s /q "%PREFIX%\{{ win_settings_path }}" ^
    || echo 'directory might already exist' ^
    >> "%POST_INSTALL_LOG%"

echo ^
    "{{ win_overrides }}" ^
    > "%PREFIX%\{{ win_settings_path }}\overrides.json" ^
    || echo "failed to write overrides" ^ 
    >> %POST_INSTALL_LOG%

echo "done" >> %POST_INSTALL_LOG%
