# {{ copyright }}
# {{ license }}
#
# {{ name }}-{{ variant.upper() }} {{ version }}-{{ build_number }} defaults
#
set -x

python -c "\
    import os, json, pathlib.Path as P;                                         \
    overrides = P(os.environ['PREFIX']) / '{{ settings_path }}/overrides.json'; \
    overrides.parent.mkdir(parents=True, exist_ok=True);                        \
    overrides.write_text(json.dumps({{ overrides }}));                          \
"