#!/usr/bin/env bash
# {{ copyright }}
# {{ license }}
#
# {{ name }}-{{ variant.upper() }} {{ version }}-{{ build_number }} defaults
#
set -x

export POST_INSTALL_LOG="${PREFIX}/post_install.log"

echo "0.0: start" >> "${POST_INSTALL_LOG}"
ls "${PREFIX}/{{ settings_path }}"  || echo "probably ok"
mkdir -p "${PREFIX}/{{ settings_path }}" || echo "settings path probably exists"

cat << EOF > "${PREFIX}/{{ settings_path }}/overrides.json"
{{ overrides }}
EOF

echo "4.0: done" >> "${POST_INSTALL_LOG}"