# {{ copyright }}
# {{ license }}
#
# {{ name }}-{{ variant.upper() }} {{ version }}-{{ build_number }} defaults
#
set -x

export POST_INSTALL_LOG="${PREFIX}/{{ settings_path }}"

echo "start" >> "${POST_INSTALL_LOG}"
mkdir -p "${PREFIX}/{{ settings_path }}"

cat << EOF > "${PREFIX}/{{ settings_path }}/overrides.json"
{{ overrides }}
EOF

echo "done" >> "${POST_INSTALL_LOG}"